body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  font-family: "Verdana";
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
  top: 0;

}

.header-left {
  display: flex;
  align-items: center;
}

header h1 {
  color: mediumAquamarine;
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
}

nav {
  text-align: right;
}

nav span {
  padding: 0 10px;
  display: inline-block;

}
nav a {
  color: black;
}

/* Body - Styling the big columns */
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 100px;
  position: relative;
}
/* .container class was applied to almost every div so that in building the website I could see the different blocks. Comment out the border when done. */
.container {
  /* border: solid 1px red; */

}

.column {
  display: inline-flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* Headline Styling */
.headline.with-image {
  display: flex;
  align-items: flex-start;
  font-family: "Georgia";
  font-weight: bold;
  font-size: 30px;
  color: white;
  min-height: 300px;
}

.headline.with-image p {
  margin-top: 0;
}

#headline-one {
  background: url("../images/img-story-main-champagne.png");
  font-size: 40px;
  text-align: left;
}

#headline-two {
  background: url("../images/img-story-2-running.png");
  text-align: center;

}

#headline-three {
  background: url("../images/img-story-3-camera.png");
  text-align: center;
}

#headline-four {
  background: url("../images/img-story-1-cat.png");
  text-align: center;
}

/* Styling the elements within the leftmost and largest column */
.minor-article {
  display: flex;
  justify-content: space-between;
}

.minor-article div {
  max-width: 300px;
}

/* Styling the elements within the rightmost and smallest column */
.column.small h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
}

.column.small p {
  background-color: WhiteSmoke;
  font-family: "Verdana";
  font-size: 12px;
  color: DimGray;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;

  border-bottom: solid 1px black;
}

/* Styling the Footer */
footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 300px;
  margin-top: 50px;
  background-color: mediumAquamarine;
  font-family: "Verdana";
  font-size: 12px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  text-align: center;
}

footer h1 {
  font-family: "Georgia";
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: solid 2px white;
  padding-right: 20px;
  margin-right: 10px;
}
